<!-- coded by Naveen Shaw-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <title>TEAM</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
</html>
<body>
<section>
    <div class="container">
<h1 class="heading">MEET THE TIGERS</h1>
<div class="card-wrapper">
    <div class="card">
        <img src="./images/backp.png" alt="card background" class="card-img">
        <img src="./images/suvhra.jpg" alt="profile image" class="profile-img">
    <h1>Suvhradip Ghosh</h1>
    <p class="job-title">Developer</p>
    <p class="about">Enthusiast A.i Developer || Love to build A.I based Products || Inspired By Machine</p>
<a href="https://github.com/suvhradipghosh07"class="btn">GITHUB</a>
<ul class="social-media">
    <li><a href="https://www.facebook.com/suvhradip.ghosh.5"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a href="https://twitter.com/SuvhradipG"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    <li><a href=" https://www.instagram.com/the_excotic_vibe/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="suvhradip.ai@gmail.com"><i class="fa fa-google" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/suvhradipghosh/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
 
</ul>
    </div>
    <div class="card">
        <img src="./images/backp.png" alt="card background" class="card-img">
        <img src="./images/naveen.jpg" alt="profile image" class="profile-img">
    <h1>Naveen Shaw</h1>
    <p class="job-title">Developer</p>
    <p class="about">A Future Entrepreneur || Geeky Nerd,Loves Dev-ops || Pursuing B.tech Degree At Sister Nivedita University, </p>
<a href="https://github.com/naveen666"class="btn">GITHUB</a>
<ul class="social-media">
    <li><a href="https://www.facebook.com/naveenshaw1998"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a href="https://www.fringineer.in"><i class="fa fa-link" aria-hidden="true"></i></a></li>
    <li><a href=" https://www.instagram.com/the_introvert_naveen/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="naveen.sujal666@gmail.com"><i class="fa fa-google" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/naveen-shaw-33ab19185"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    
 
</ul>
    </div>
    <div class="card">
        <img src="./images/backp.png" alt="card background" class="card-img">
        <img src="./images/alish2.jpg" alt="profile image" class="profile-img">
    <h1>Alisha Shaw</h1>
    <p class="job-title">Developer</p>
    <p class="about">Definition: 
I am just curious about everything.</p>
<a href="https://github.com/alishashaw439"class="btn">GITHUB</a>
<ul class="social-media">
    <li><a href="https://www.facebook.com/alisha.shah.3576224"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a href="https://twitter.com/AlishaShaw00?s=08"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    <li><a href="https://www.instagram.com/alisha_3c273/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="alishashaw439@gmail.com"><i class="fa fa-google" aria-hidden="true"></i></a></li>
     <li><a href="https://www.linkedin.com/in/alisha-shaw"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
 
</ul>

    </div>
    &nsbp;&nsbp;&nsbp;
    
    
    
    
    
    <div class="card">
        <img src="./images/backp.png" alt="card background" class="card-img">
        <img src="./images/sayan.jpg" alt="profile image" class="profile-img">
    <h1>Sayan Mondal</h1>
    <p class="job-title">App And Idea Creator</p>
    <p class="about">A man who always wants to learn new tech,happy to share knowledge
Application developer(Mobile,web),Machine Learning enthusiast</p>
<a href="https://github.com/sayanmondal31"class="btn">GITHUB</a>
<ul class="social-media">
    <li><a href="https://www.facebook.com/sayan.mondal.9843499"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a href="https://twitter.com/SayanMo117"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    <li><a href="https://www.instagram.com/sayan_mondal.coder/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="sayanm816@gmail.com"><i class="fa fa-google" aria-hidden="true"></i></a></li>
     <li><a href="https://www.linkedin.com/in/sayan-mondal-736971170/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
 
</ul>
    </div>
    
    <div class="card">
        <img src="./images/backp.png" alt="card background" class="card-img">
        <img src="./images/sag.jpg" alt="profile image" class="profile-img">
    <h1>Sagnik Mitra</h1>
    <p class="job-title">Desk Designer</p>
    <p class="about">Converting Analog Life into Digital Design || ML & WebDev Enthusiast || Problem Solving || TechGeek</p>
<a href="https://github.com/sagnikmitra"class="btn">GITHUB</a>
<ul class="social-media">
    <li><a href="https://www.facebook.com/sayan.mondal.9843499"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a href="https://twitter.com/SayanMo117"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    <li><a href="https://www.instagram.com/sayan_mondal.coder/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="sayanm816@gmail.com"><i class="fa fa-google" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/sagnik-mitra-36742b178/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

</ul>
    </div>
    
  
</div>

        
    </div>
</section>




</body>








 




</html>
